
[dark] * {
    --ytmusic-brand-background-solid: #020202 !important;
}

[dark] button.ytmusic-navigation-button-renderer {
    background-color: #050505 !important;
}

[dark] ytmusic-popup-container * {
    background-color: #000000 !important;
}
