/*
[dark=false] ytmusic-subscribe-button-renderer {
    background-color: black !important;
    outline-color: white !important;
}

[dark=false] ytmusic-subscribe-button yt-formatted-string {
    color: white !important;
}
*/