
[dark=true] :not(.next-items-button) > tp-yt-iron-icon {
    color: white !important;
}

[dark=false] :not(.next-items-button) > tp-yt-iron-icon {
    color: black !important;
}


[dark=false] ytmusic-menu-popup-renderer yt-icon svg > g > path:last-child,
[dark=false] .dropdown-trigger > tp-yt-iron-icon > path,
#next-items-button path {
    fill: black;
}

[dark=true] ytmusic-menu-popup-renderer yt-icon svg > g > path:last-child,
[dark=true] .dropdown-trigger > tp-yt-iron-icon path,
.ytmusic-item-thumbnail-overlay-renderer .ytmusic-play-button-renderer {
    fill: white;
}


.ytmusic-item-thumbnail-overlay-renderer tp-yt-paper-spinner-lite .circle {
    border-color: white !important;
}


[dark=false] .left-controls-buttons path {
    fill: black;
}


tp-yt-paper-icon-button[aria-pressed="true"] svg path {
    fill: var(--theme-accent-color);
}
