
#progress-bar, .ytmusic-player-bar {
    --paper-slider-active-color: var(--theme-accent-color) !important;
}


html[dark=true] #progressContainer.tp-yt-paper-progress {
    background-color: white !important;
}

[dark=false] #progressContainer.tp-yt-paper-progress {
    background-color: black !important;
}


#secondaryProgress.tp-yt-paper-progress {
    background-color: var(--theme-accent-color) !important;
    filter: brightness(99%) saturate(0.5) !important;
}


.slider-knob-inner {
    border: var(--theme-accent-color) !important;
    background-color: var(--theme-accent-color) !important;

    filter: saturate(200%);
}
