
html:not([dark=false]) #suggestion-list * {
    color: white;
    fill: white;
}

#suggestion-list * {
    color: black;
    fill: black;
}


html:not([dark=false]) #clear svg {
    fill: white;
}

 #clear svg {
    fill: black;
}


#clear:hover svg {
    fill: var(--theme-accent-color);
}
