
#tabs .tab.selected.ytmusic-tabs {
    border-bottom-color: var(--theme-accent-color) !important;
    color: var(--theme-accent-color) !important;
}


html[dark=true] #tabs .tab.ytmusic-tabs {
    color: white;
}

[dark=false] #tabs .tab.ytmusic-tabs {
    color: black;
}


#tabs .tab.ytmusic-tabs:hover {
    color: var(--theme-accent-color) !important;
}


[dark=true] .tab-header {
    color: white;
}

[dark=false] .tab-header {
    color: black;
}


[dark=false] ytmusic-item-section-tab-renderer.iron-selected .tab.ytmusic-item-section-tab-renderer,
[dark=false] .tab.selected.ytmusic-item-section-tab-renderer {
    border-bottom-color: black !important;
}


.tab-header:hover, .tab-header.iron-selected {
    color: var(--theme-accent-color) !important;
}

#selectionBar {
    border-color: var(--theme-accent-color) !important;
}
