
[dark] #tabs .tab.selected.ytmusic-tabs {
    border-bottom-color: var(--theme-accent-color) !important;
    color: var(--theme-accent-color) !important;
}

[dark] #tabs .tab.ytmusic-tabs {
    color: #fff;
}

[dark] #tabs .tab.ytmusic-tabs:hover {
    color: var(--theme-accent-color) !important;
}

[dark] .tab-header {
    color: #fff;
}

[dark] .tab-header:hover, [dark] .tab-header.iron-selected {
    color: var(--theme-accent-color) !important;
}

[dark] #selectionBar {
    border-color: var(--theme-accent-color) !important;
}
