
[dark] * {
    --ytmusic-call-to-action: var(--theme-accent-color);

    --ytmusic-static-brand-red: var(--theme-accent-color);

    --ytmusic-setting-item-toggle-active: var(--theme-accent-color);

    --ytmusic-themed-blue: var(--theme-accent-color);
}
