
[dark] ytmusic-pivot-bar-item-renderer {
    color: #FFF !important;

    font-weight: bold !important;
}

[dark] ytmusic-pivot-bar-item-renderer:hover,
[dark] ytmusic-pivot-bar-item-renderer.iron-selected {
    color: var(--theme-accent-color) !important;
}

[dark] .search-icon svg path {
    fill: #FFFFFF !important;
}

[dark] ytmusic-search-box:hover svg path,
[dark] ytmusic-search-box:hover span {
    fill: var(--theme-accent-color) !important;
    color: var(--theme-accent-color) !important;
}

[dark] :not(ytmusic-search-box:hover) > div > div > #placeholder.ytmusic-search-box {
    color: #FFF;
}

[dark] #placeholder.ytmusic-search-box {
    font-weight: bold !important;
}
