
html[dark=true] ytmusic-pivot-bar-item-renderer {
    color: white;

    font-weight: bold !important;
}

[dark=false] ytmusic-pivot-bar-item-renderer {
    color: black;

    font-weight: bold !important;
}


ytmusic-pivot-bar-item-renderer:hover *,
ytmusic-pivot-bar-item-renderer.iron-selected * {
    color: var(--theme-accent-color) !important;
    fill: var(--theme-accent-color) !important;
}


html[dark=true] .search-icon svg path {
    fill: white !important;
}

[dark=false] .search-icon svg path {
    fill: black !important;
}


ytmusic-search-box:hover svg path,
ytmusic-search-box:hover span {
    fill: var(--theme-accent-color) !important;
    color: var(--theme-accent-color) !important;
}


[dark=true] :not(ytmusic-search-box:hover) > div > div > #placeholder.ytmusic-search-box {
    color: white;
}

[dark=false] :not(ytmusic-search-box:hover) > div > div > #placeholder.ytmusic-search-box {
    color: black;
}


#placeholder.ytmusic-search-box {
    font-weight: bold !important;
}
