
[dark] *, html[dark] {
    --yt-spec-brand-background-solid: rgb(0, 0, 0) !important;
    --yt-spec-brand-background-primary: rgb(0, 0, 0) !important;
    --yt-spec-brand-background-secondary: #000 !important;
    
    --yt-spec-general-background-a: #000 !important;
    --yt-spec-general-background-b: #000 !important;
    --yt-spec-general-background-c: #000 !important;
}
