
ytd-toggle-button-renderer.style-default-active yt-icon-button > button > yt-icon > svg path,
yt-formatted-string.style-default-active {
    fill: var(--theme-accent-color) !important;
    color: var(--theme-accent-color) !important;
}

#container.ytd-sentiment-bar-renderer,
#return-youtube-dislike-bar-container {
    background-color: #FFFFFF !important;
}

#like-bar,
#return-youtube-dislike-bar {
    background-color: var(--theme-accent-color) !important;
}
