
[dark] * {
    --ytd-searchbox-background: rgba(0, 0, 0, 7) !important;

    --ytd-searchbox-legacy-button-border-color: #4d4d4d !important;
    --ytd-searchbox-legacy-button-color: #000 !important;
}
