:not(.style-scope)[dark] {
    --yt-spec-brand-background-solid: rgb(5, 5, 5) !important;
    --yt-spec-brand-background-primary: rgb(5, 5, 5) !important;
    --yt-spec-brand-background-secondary: #000 !important;
    
    --yt-spec-general-background-a: #000 !important;
    --yt-spec-general-background-b: #000 !important;
    --yt-spec-general-background-c: #000 !important;

    --yt-spec-icon-disabled: #303030 !important;
    --yt-spec-icon-inactive: #B0B0B0 !important;

    --yt-spec-10-percent-layer: rgba(150, 150, 150, 0.1);

    --yt-spec-badge-chip-background: rgb(15, 15, 15)!important;

    --ytd-searchbox-background: rgba(0, 0, 0, 7) !important;

    --ytd-searchbox-legacy-button-border-color: #4d4d4d !important;
    --ytd-searchbox-legacy-button-color: #000 !important;
}
